In [2]:
import requests, re, pandas as pd
import time, os, json

In [12]:
rest = pd.read_csv('./restaurant_dataset.csv', index_col = 0)
rest = rest.reset_index()
rest = rest.rename(columns={'index':'id'})
rest

,id,Name,url,Rating,Rating_food,Rating_service,Rating_value,cuisine,Review_num,Neighborhood,Price_low,Price_high,Strong_tag,Comments
0,0,12 Chairs,https://www.tripadvisor.com/Restaurant_Review-...,4.5,4.5,4.5,4.0,"['Mediterranean', 'Middle Eastern', 'Israeli']",255,Downtown Manhattan (Downtown),2,3,"['brunch', 'hummus', 'shakshuka', 'sabich', 'l...",Delicious Israeli Food ðŸ˜‹Fantastic FindGood foo...
1,1,15 EAST @ Tocqueville,https://www.tripadvisor.com/Restaurant_Review-...,4.5,4.5,4.5,4.0,"['French', 'Japanese', 'Sushi']",451,Union Square,4,4,[],Always a Perfect MealFusion French-Jpanese foo...
2,2,230 Fifth,https://www.tripadvisor.com/Restaurant_Review-...,4.0,3.5,3.5,3.5,"['American', 'Bar', 'Fusion']",4019,Tenderloin,2,3,"['brunch', 'the empire state building', 'rooft...",Completely Miss soldThe most amazing view!230 ...
3,3,2nd Avenue Deli,https://www.tripadvisor.com/Restaurant_Review-...,4.5,4.5,4.5,3.5,"['Deli', 'Israeli', 'Vegetarian Friendly']",1198,Kips Bay,2,3,"['corned beef', 'matzo ball soup', 'coleslaw',...",Very good but service could be betterA must in...
4,4,2 Bros Pizza,https://www.tripadvisor.com/Restaurant_Review-...,4.5,4.5,4.0,5.0,"['Italian', 'American', 'Pizza']",247,Midtown,1,1,"['pizza', 'cheese slices', 'cheap lunch', 'new...",TastyGood cheap lunchJust okay.Best pizza!Deli...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966,966,Zabar's,https://www.tripadvisor.com/Restaurant_Review-...,4.5,4.0,3.5,4.0,"['American', 'Deli', 'Vegetarian Friendly']",522,Upper West Side,1,1,"['bagels', 'cheese selection', 'smoked salmon'...",Yum to the maxVery TastyOverratedMaybe the bes...
967,967,Zen Ramen & Sushi,https://www.tripadvisor.com/Restaurant_Review-...,4.5,4.5,4.5,4.0,"['Japanese', 'Sushi', 'Asian']",164,Tenderloin,2,3,"['ramen', 'chicken', 'visit nyc', 'service was...",Food was not good!Fabulous FoodSo goodAwesome ...
968,968,Zero Otto Nove,https://www.tripadvisor.com/Restaurant_Review-...,4.5,4.5,4.5,4.0,"['Italian', 'Pizza', 'Southern-Italian']",268,Flatiron District,2,3,"['pasta', 'pie', 'arthur avenue', 'great itali...",What a findGreat Italian foodA gem in Gramercy...
969,969,Zoob Zib Thai Authentic Noodle Bar,https://www.tripadvisor.com/Restaurant_Review-...,4.5,4.5,4.5,4.5,"['Asian', 'Thai', 'Vegetarian Friendly']",238,Midtown West,2,3,"['pad thai', 'noodle soup', 'grilled pork', 'l...",Weâ€™ll worth a visitAuthentic Thai food that wo...
970,970,Zuma,https://www.tripadvisor.com/Restaurant_Review-...,4.0,4.5,4.0,4.0,"['Japanese', 'Sushi', 'Asian']",804,Murray Hill,4,4,"['sushi', 'cod', 'soft shell crab', 'rice', 's...",Definitely noNot Zuma standardShort staffSigna...

In [25]:
import numpy as np
rest_total = len(rest)
graph = np.zeros(rest_total*rest_total).reshape(rest_total, rest_total)
graph

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [53]:
tag_dict = {}
for idx in range(rest_total):
    tags = (rest['Strong_tag'][idx]).replace("'", "").strip('][').split(', ')
    for tag in tags:
        if tag in tag_dict:
            tag_dict[tag].append(idx)
        else:
            tag_dict[tag] = [idx]

In [59]:
for tag in tag_dict:
    if tag != "nyc" and tag != "new york" and tag !="":
        for idx1 in tag_dict[tag]:
            for idx2 in tag_dict[tag]:
                graph[idx1][idx2] = graph[idx1][idx2] + 1

In [60]:
graph

array([[15.,  0.,  1., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 1.,  0.,  7., ...,  0.,  0.,  1.],
       ...,
       [ 0.,  0.,  0., ...,  9.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0., 14.,  1.],
       [ 0.,  0.,  1., ...,  0.,  1.,  8.]])

In [54]:
pd.Series(tags).value_counts()

sushi              1
cod                1
soft shell crab    1
rice               1
steak              1
new york           1
nyc                1
city               1
avocado            1
midtown            1
dtype: int64